html {
    background-color: #2e2f30;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    line-height: 21px;
    word-break: break-word;
}
body {
    background-color: transparent;
    margin-top: 15px;
}
.menu-container {
}
.container {
}
h1, h2, h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    color: #1A1A1B;
}
h1 {
    margin-top: 30px;
    margin-bottom: 40px
}
.btn-micro {
    border-radius: 50%;
    background-color: #ff0000;
    border-color: #ff0000;
    padding: .4rem .55rem;
    color: #fff;
}
.btn-micro:hover {
    background-color: #c00000;
    border-color: #c00000;
    color: #fff;
}
.btn-micro i {
    font-size: 1.33333em;
    line-height: .75em;
    vertical-align: -.0667em;
}
.btn-quit {
    float: left;
    border-radius: 0 0 25% 0;
    margin-left: -5px;
    margin-top: -5px;
    color: #fff !important;
    z-index: 1070;
}
.btn-quit:hover {
    cursor: pointer;
}
.btn-quit-tutorial {
    position: absolute;
    top: 0px;
    left: -25px;
    z-index: 1070;
}
.btn-back {
    float: right;
    border-radius: 0 0 0 25%;
    margin-right: -5px;
    margin-top: -5px;
}
.btn-back-tutorial {
    position: absolute;
    top: 0px;
    right: -25px;
    z-index: 9999;
}
.btn-done:hover {
    cursor: pointer;
}
.btn-done:hover i {
    color: #218838 !important;
}
.btn-help {
    position: absolute;
    right: 75px;
    top: 107.5px;
    z-index: 1;
    animation: hvr-buzz-out 7.5s infinite 10s, pulse 2s infinite;
}

.btn-quote {
    position: absolute;
    left: 75px;
    top: 107.5px;
    z-index: 1;
    animation: hvr-buzz-out 7.55s infinite 1s, pulse 2s infinite;
}
.menu-block {
    background-color: #eeeeee;
    padding: 5px;
    margin: 5vh 0;
    text-align: center;
    border: 1px solid #818384;
    border-radius: .3rem;
    overflow: hidden;
    min-height: 400px;
}
.menu-block .mainbtn {
    clear: both;
    color: #fff;
    margin: 5px;
    width: 200px;
}

.menu-block img {
    max-width: 100%
}

.quote-block {
    position: absolute;
    width: 275px;
    text-align: left;
    background-color: #fff;
    padding: 5px;
    z-index: 1;
    left: -125px;
    border: 2px solid #818384;
}

.well {
    background-color: #fff;
    padding: 15px;
    text-align: left;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0 0 .3rem .3rem;
    margin: 0 40px;
    margin-top: -5px;
}
.well ul {
    list-style: none;
}
.well ul li:before {
    font-family: FontAwesome;
    content: "\f061";
    display: block;
    position: absolute;
    margin-left: -20px;
    margin-top: 2px;
    z-index: 1;
}
.well ul li a {
    color: #212529;
    border-left: 30px solid transparent;
    margin-left: -30px;   
    z-index: 0;
}
.well ul li a:hover {
    color: #212529;
}
.well ul li a:visited {
/*    color: #9a9a9a;*/
}

.achievement {
    background-color: #00da00;
    width: 250px;
    position: absolute;
    top: 15px;
    right: -250px;
    color: #fff;
    border-radius: 40px 0 0 40px;
    line-height: 1;
    font-weight: bold;
    animation-name: xbox;
    animation-duration: 7.5s;
    animation-timing-function: ease-in-out;
}

.achievement i {
    font-size: 40px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
    border-radius: 50%;
}

.achievement td {
    padding: 5px;
}

.iframe-container:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
/*    z-index: 9999;*/
    position: absolute;
}

@keyframes xbox {
    0%      {right: -250px;}
    10%     {right: 0;}
    90%     {right: 0;}
    100%    {right: -250px;}
}

@keyframes pulse {
	0% {box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);}
	70% {box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);}
	100% {box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);}
}

.popover-header {
    color: #212529;
}

.card {
    margin-bottom: 15px;
}
.disabled:hover {
    cursor: not-allowed !important;
}
.subfooter {
    padding: 5px;
    padding-top: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: rgb(135, 138, 140);
}
.subfooter i {
    font-size: 1.33333em;
    line-height: .75em;
    vertical-align: -.0667em;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.modal {
    z-index: 1090;
}

.modal-backdrop {
    z-index: 1080;
}

/* Buzz Out */
@keyframes hvr-buzz-out {
  90% {
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
  }
  91% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  92% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  93% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  94% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  95% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  96% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  97% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  98% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  99% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}